[submodule ".registry"]
	path = .registry
	url = https://github.com/cesarito2021/cesarito2021.r-universe.dev
	branch = HEAD
[submodule "ALSdownloadeR"]
	path = ALSdownloadeR
	url = https://github.com/Cesarito2021/als_downloader
	branch = main
